.chats_index {
  &_card_body {
    height: 400px;
    overflow-y: scroll;
  }

  &__message {
    min-height: 60px;
  }

  &__message:focus {
    border-color: $gray-400;
    outline: 0;
    box-shadow: none;
  }

  &_send_btn {
    background-color: $teal;
    border-radius: 0 15px 15px 0;
    color: $white;
    cursor: pointer;
  }

  &_container {
    border-radius: 20px;
    padding: 10px;
    position: relative;
    word-break: break-word;

    &__left {
      margin-left: 10px;
      @include media-breakpoint-up(xs) {
        margin-left: 5px;
      }
      background-color: $white;
      border: 1px solid $black;
    }

    &__right {
      margin-right: 10px;
      @include media-breakpoint-up(xs) {
        margin-right: 5px;
      }
      background-color: $green;
    }
  }

  &_name {
    font-size: 10px;
  }

  &_time {
    position: absolute;
    font-size: 10px;

    &__left {
      right: -30px;
      bottom: 0;
    }

    &__right {
      left: -30px;
      bottom: 0;
    }
  }
}
